name: Test current build
on: [push]
jobs:
  test_build:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v1

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install deps and run tests
      run: |
        npm install
        npm run test
      env:
        CI: true
